body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

.home {
  background-color: rgb(39, 39, 39);
  height: 100vh;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 23rem;
}

.btn-wrapper > input {
  width: 10rem;
  height: 3rem;
  background-color: white;
  border: none;
  border-radius: 3rem;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  margin: 10rem 0 3rem 0;
  position: relative;
}

.btn-wrapper > input:hover {
  transform: scale(1.02);
}

.written-command {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.todo {
  color: white;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
}

.input-text {
  margin-left: 1rem;
  margin-right: 2rem;
  border-radius: 1rem;
  border: none;
  height: 1.4rem;
  text-indent: 0.5rem;
}

.button {
  background-color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  height: 1.4rem;
  width: 5rem;
  font-weight: bolder;
}

.button:hover {
  transform: scale(1.05);
}

label {
  font-size: 1.2rem;
}

.list {
  padding-left: 0;
}

.item {
  color: black;
  background-color: white;
  list-style-type: none;
  width: 40rem;
  height: 3rem;
  padding-left: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  border-radius: 3rem;
}

input:focus {
  outline: none;
}