<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/notFound.css">
</head>
<body>
  <section class="not-found">
    <div class="not-found-wrapper">
      <h2>404</h2>
      <p>Volta pra home, curioso</p>
    </div>
  </section>
</body>
</html>